.getQuoteForm-overlay{
    background: transparent linear-gradient(180deg, #242D65 0%, #CF2032 100%) 0% 0% no-repeat padding-box;
    opacity: 0.5;
    
    height: 100%;
    position: relative;
    z-index: -1;
}

.getQuoteForm-content{
    position: absolute;
    z-index: 3;
    width: 100%;
    top:9%;
    /* background-color: #242D65; */
    display: flex;
    justify-content: center;
}

.getQuoteForm-content-title{
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 0.3px white;
    font-weight: bold;
    text-align: center;
}



.getQuoteForm-margin{
    margin-top: 10px;
}

.white-text{
    color:white;
}

.getQuoteForm-input{
    height: 40px;
    border-radius: 5px;
    padding:5px 15px 5px 15px;
    width: 95%;
    border: 1px #d2d1d1 solid;
}

.getQuoteForm-hidden{
    height: 51px;
    /* background-color: rgb(160, 54, 54); */
    overflow: hidden;
}