.dialogInfoClass {
  width: 850px;
  height: 400px;
  transform: translate(10px);
  display: flex;
  border-radius: 13px;
  /* background-color: r
  /* background-color: red; */
}

.dialogInfoClass-selected {
  box-shadow: 10px 8px 13px rgba(177, 177, 177, 0.658);
}

.dialogInfoClass-title {
  font-weight: bold;
  color: #223ee2;
  font-size: 50px;
  font-family: "Gilroy-Bold";
}
.dialogInfoClass-paragraph {
  font-family: "Gilroy-Medium";
  font-size: 25px;
  padding: 15px 15px 15px 3px;
  width: 320px;
  font-weight: bold;
  line-height: 1.5;
}

.dialogInfoClass-paragraph-container {
  position: relative;
  top: 20%;
  margin-left: 60px;
}

/* version mobile */

.dialogInfoM {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  box-shadow: 10px 8px 13px rgba(177, 177, 177, 0.658);
  border-radius: 7px;
  padding-top: 50px;
  padding-bottom: 50px;
}
