.dialogInfoClass{
  width: 850px;
  height: 400px;
  transform: translate(10px);
  display: flex;
  border-radius: 13px;
  /* background-color: r
  /* background-color: red; */
}

.dialogInfoClass-selected{
  box-shadow: 10px 8px 13px rgba(177, 177, 177, 0.658);
}

.dialogInfoClass-title{
  font-weight:bold;
  color:#223EE2;
    font-size: 50px;
    font-family:"commuterssans-bold";
}
.dialogInfoClass-paragraph{
  font-family: "futuraBold";
  font-size: 25px;
  padding: 15px;
  width: 250px;
}

.dialogInfoClass-paragraph-container{
  position: relative;
  top:20%;
  margin-left: 30px;
}