.marginAuto {
  background-color: red;
  margin: auto;
}

.footer-container {
  display: flex;
  justify-content: center;
}
.footer-b-container {
  display: flex;
  width: 80%;
  height: 100%;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 14px;
}

/* .footer-icons {
  transition: 0.2s all;
} */
.footer-icons:hover {
  filter: grayscale(70%);
  cursor: pointer;
  transform: scale(0.9);
}
