.getInTouchWithUsFrom{
    background: transparent linear-gradient(268deg, #4159F0 0%, #4058EF 19%, #0B2AD6 100%);
    width: 60%;
    padding:60px 125px 60px 100px;
    color: white;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getInTouchWithUsFrom-title{
    font-weight:bold;
    font-size: 30px;
    font-family:"commuterssans-bold";
    text-align: center;
}

.getInTouchWithUsFrom-input::placeholder{
    color:white;
    font-family: "commuterssans-thin";
    
}
.getInTouchWithUsFrom-input{
    background-color: rgba(255, 255, 255, 0.192);
    border: none;
    height: 55px;
    border-radius: 10px;
    width: 100%;
    padding-left: 20px;
    color: white;
}
.getInTouchWithUsFrom textarea{
    padding: 15px;
    height: 100px;
    
}

.getInTouchWithUsFrom-button{
    color:#0B2AD6;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 200px;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
    text-shadow: 1px 1px 45px #0B2AD6;
    font-weight:bold;
    font-size: 20px;
    
    
}