.get-quote{
    font-weight: bold;
    border: 1px white solid;
    padding: 10px 30px 10px 30px;
    border-radius: 4px;
    height: 15px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-out;
    cursor: pointer;
}
.get-quote-blueBG{
    background: transparent linear-gradient(180deg, #4159F0 0%, #0827D5 100%) 0% 0% no-repeat padding-box;
    border: none;
}
.get-quote:hover{
    background: transparent linear-gradient(180deg, #242D65 0%, #CF2032 100%) 0% 0% no-repeat padding-box;
    border: none;
    font-size: 15px;
    transition: all .2s ease-out;
}