.EnrollementAttachFiles-title {
  display: flex;
  align-items: center;
  -webkit-text-stroke: 0.3px #4b4848;
  margin-bottom: 30px;
}

.EnrollementAttachFiles-file-input {
  display: none;
}

.EnrollementAttachFiles-label {
  /* cursor: pointer; */
  display: flex;
  gap: 10px;
  align-items: center;
  transform: translateX(20px);
}
@media screen and (max-width: 1055px) {
  .EnrollementAttachFiles-label {
    flex-direction: column;
  }
  .EnrollementAttachFiles-button {
    transform: translateX(-25px);
  }
}

.EnrollementAttachFiles-button {
  cursor: pointer;
  border: 1px solid #4b4848;
  padding: 10px 25px 10px 26px;
  border-radius: 5px;
  margin-right: 20px;
  min-width: 120px;
}

.EnrollementAttachFiles-button-title {
  transition: transform 0.1s;
  font-family: "Gilroy-Medium";
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  /* white-space: nowrap; */
  font-family: "Gilroy-Medium";
  text-align: left;
  text-align: center;

  /* Create the gradient. */
  /* background-image: linear-gradient(180deg, #242d65, #cf2032); */

  /* Set the background size and repeat properties. */
  /* background-size: 100%;
  background-repeat: repeat; */

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  /* -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}

.EnrollementAttachFiles-button:hover {
  background: transparent linear-gradient(180deg, #242d65 0%, #cf2032 100%) 0%
    0% no-repeat padding-box;
}

.EnrollementAttachFiles-button:hover .EnrollementAttachFiles-button-title {
  transform: scale(0.92);
  color: white;
}

.EnrollementAttachFiles-fileName {
  font-family: "Gilroy-Medium";
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
  white-space: nowrap;
  font-family: "Gilroy-Medium";
  text-align: left;
  margin-right: 24px;
  /* Create the gradient. */
  background-image: linear-gradient(180deg, #242d65, #cf2032);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.EnrollementAttachFiles-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 50px;
  transform: translateX(10%);
}
