@media screen and (max-width: 1386px) {
  .OurCommunityHeader-title,
  .OurCommunityHeader-paragraph {
    text-align: center;
  }
}
@media screen and (max-width: 583px) {
  .OurCommunityHeader-paragraph {
    transform: translateY(-80px);
  }
}

.OurCommunityHeader-container {
  height: 100px;
  /* background-color: red; */
  width: 90%;
  margin: auto;
  height: 100%;
  max-width: 1500px;
}

.OurCommunityHeader-title {
  font-size: 60px;
  font-family: Gilroy-Bold;
  color: white;
}

.blue {
  color: #2742e4;
}

.OurCommunityHeader-paragraph {
  color: white;
  font-size: 20px;
  line-height: 1.4;
  width: 82%;
  font-family: "Gilroy-Medium";
}

.EnrollementImage-flyButton {
  position: absolute;
  height: 40px;

  z-index: 4;
}

.EnrollementImage-tl {
  bottom: 77%;
  left: -2%;
}

.EnrollementImage-bl {
  bottom: 26%;
  left: -5%;
}

.EnrollementImage-tr {
  bottom: 70%;
  right: -5%;
}

.EnrollementImage-br {
  bottom: 14%;
  right: -7%;
}
