.normal {
  font-family: sans-serif;
  font-weight: normal;
}
.WeAreHere-container {
  /* margin-left: 10%; */
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.WeAreHere-container-paragraph {
  color: white;
  font-size: 20px;
  line-height: 1.4;
  width: 80%;
  font-family: "Gilroy-Medium";
}
.WeAreHere-container-title {
  font-size: 60px;
  font-family: Gilroy-Bold;
  color: white;
}
@media screen and (max-width: 531px) {
  .WeAreHere-container-title,
  .WeAreHere-container-paragraph {
    text-align: center;
  }
}
