.calendar-ok {
  background: transparent linear-gradient(180deg, #242d65 0%, #cf2032 100%) 0%;
  color: white;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.new-selected {
  color: "red";
}
