.shortImage {
  width: 100%;
}

.RequestAQuoteButton {
  font-weight: bold;

  padding: 16px 26px 16px 20px;
  color: white;
  border-radius: 5px;
  height: 15px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  background: transparent linear-gradient(180deg, #4159f0 0%, #0827d5 100%) 0%
    0% no-repeat padding-box;
  cursor: pointer;
}
.RequestAQuoteButton:hover {
  background: transparent linear-gradient(180deg, #242d65 0%, #cf2032 100%) 0%
    0% no-repeat padding-box;
  border-color: transparent;
  font-size: 15px;
  transition: all 0.2s ease-out;
}
