.nav{
position: fixed;
 display: flex;
 align-items: center;  
 justify-content: space-between;
 z-index: 4;
 width: 100%;
 transition: all .2s ease-out;
 transition: .3s ease-in;
 height: 75px;
}

.nav-background{
  background:transparent linear-gradient(180deg, #242D65 0%, #CF2032 100%) 0% 0% no-repeat padding-box;
  animation:coloringMenuBackground 1s;
}

@keyframes coloringMenuBackground {
  from {
    background:transparent;
  }
  to {
    background: transparent linear-gradient(180deg, #242D65 0%, #CF2032 100%) 0% 0% no-repeat padding-box;
  }
}

.logo{
    height: 120px;
    transform: translateX(84px);
}

.sub-nav{
 display: flex;
 align-items: center;  
 justify-content:space-between ;
 margin-left: 20;
 
}

.nav-element{
  
  color: rgb(255, 255, 255);
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;


}
.logofr{
  height: 30px;
  position: absolute;
  top:0;
  right: 20%;
  
}
.videoContent{
  position: absolute;
  top: 200px;
  left: 15%;
  height: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 3;
}

.videoContent p{
  font-size: 110px;
  align-items: center;
  justify-content: center;
}