.nav{
position: fixed;
 display: flex;
 align-items: center;  
 justify-content: space-between;
 z-index: 5;
 width: 100%;
 transition: all .2s ease-out;
 transition: .3s ease-in;
 height: 62px;
 background-image: transparent;
}

.nav::before{
  position: absolute;
  content: "";
    inset: 0; /* same as { top: 0; right: 0; bottom: 0; left: 0; } */
    background-image:linear-gradient(180deg, #242D65 0%, #CF2032 100%);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.25s linear;
    /* z-index: 4; */
}
/* .nav:hover::before{
  opacity: 1;
} */


.nav-background::before{
  opacity: 1;
}

@keyframes coloringMenuBackground {
  from {
    background:transparent;
  }
  to {
    background: transparent linear-gradient(180deg, #242D65 0%, #CF2032 100%) 0% 0% no-repeat padding-box;
  }
}

.logo{
    height: 140px;
    transform: translate(84px,10px);
}
@media  screen and (max-width: 900) {
  .logo{
      height: 120px;
      
  }
  
}
.sub-nav{
 display: flex;
 align-items: center;  
 justify-content:space-between ;
 margin-left: 20;
 
}

.nav-element{
  
  color: rgb(255, 255, 255);
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transform: translateY(2px);
}

.nav-element-down{
  transform: translateY(10px);
}
.logoScrolled{
  transform: scale(0.75);
}
.navbarAnimation{
  transition: transform 0.5s;
}
.navbarAnimation-up{
  transform: translateY(-8px);
}


.logofr{
  height: 20px;
  position: absolute;
  top:0;
  right: 20%;
  
}
.videoContent{
  position: absolute;
  top: 200px;
  left: 15%;
  height: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 3;
}

.videoContent p{
  font-size: 110px;
  align-items: center;
  justify-content: center;
}

/* mobile version */


.wrapperMobile{
  position: fixed;
  top: 0;
  z-index: 8;
  /*left: -100%;*/
  right: 0%;
  top:100%;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapperMobile{
  /*left: 0;*/
  right:0;
  top:0%
}
.menu-btn{
  position: absolute;
  z-index: 9;
  right: 40px;
  /*left: 20px; */
  top: 38px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transform: scale(1.5);
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
  
	border-bottom: 2px solid #6e232c;
  
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}


.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #6c274f;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #6c274f;
}
.wrapperMobile ul{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapperMobile ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapperMobile ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  /* opacity: 0; */
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapperMobile ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  /* transition: transform 0.3s ease; */
}
.wrapperMobile ul li a:hover:after{
  transform: scaleY(1);
}
.wrapperMobile ul li a:hover{
  color: #1a73e8;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #ab2525;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapperMobile ul li a{
  opacity: 1;
}
.wrapperMobile ul li a{
  /* transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1); */
  /* transform: translateX(100px); */
}
#active:checked ~ .wrapperMobile ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
   transition-delay: .6s;
  /* transform: translateX(-100px); */
}

.wrapperMobile-menu{
  color: red;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.wrapperMobile-menu-item{
  color:#2742e4;
}

.wrapperMobile-menu-item a{
  /* color:#2742e4; */
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  -webkit-text-stroke: 2px #324fef;
  text-shadow: rgb(150, 150, 150) 1px 0 10px;
  transition: t;
  
}

.wrapperMobile-menu-item-left{
 transition: all 1s;
 transform: translateX(-350px);
 opacity: 0;
 /* opacity: 0; */
 
}
.wrapperMobile-menu-item-right{
 transition: all 1s;
 transform: translateX(350px);
 opacity: 0;
 /* opacity: 0; */
 
}
/* #active:checked + .wrapperMobile-menu-item-left-right{
 
 transform: translateX(350px);
 opacity: 100%;
} */

.toInit{
  transform: translate(0px);
  opacity: 100%;
}

/* version 28 february */

.down50{
  transform: translateY(50px);
}
.nav-main{
  /* background-color: cadetblue; */
  position: relative;
  /* z-index: 4; */
  padding: 10px ;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  color: white;
  margin-top: 30px;
  transition: all 1s;
}

/* mobile */

.logoMobile{
  width: 170px;
  position: relative;
  z-index: 10;
  transform: translateY(-40px);
  transition: all 1s;
}
.width100{
  width: 100px;
  transform: translateY(0px);
}

.languageMenuContainer{
  opacity: 1;
  transition: all 0.7s;
}
.languageMenuContainer0{
  opacity: 0;
}
.marginTop-30{
  margin-top: -30px;
}