.footerText-title{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    font-weight:bold;
    font-size: 26px;
    font-family:"commuterssans-bold";
    transform: translateX(-21px);

}

.footerText-content{
    font-size: 20px;
    font-family:"segoe";
    /* font-weight: bold;
    -webkit-text-stroke: 0.2px black; */
}

.FooterText{
    padding: 20px;
}