.footerText-title{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    font-weight:bold;
    font-size: 26px;
    font-family:"Gilroy-Bold";
    transform: translateX(-25px);

}

.footerText-content{
    font-size: 20px;
    font-family:"Gilroy-Medium";
    max-width: 300px;
    min-height: 130px;
    /* font-weight: bold;
    -webkit-text-stroke: 0.2px black; */
}

.FooterText{
    padding: 20px;
    
}