.proJoinOurTeam-wrapper{
    
    height: 550px;
    background: url('../../../assets/images/meeting.png') no-repeat;
    /* background-size: 100%; */
    
}

.proJoinOurTeam-overlay{
    background-color: black;
    height: 550px;
    /* height: 100%; */
    opacity: 31%;
    /* width: 100px; */
}

.proJoinOurTeam-content{
    position: absolute;
    color: white;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    flex-direction: column;
    width: 100%;
}

.proJoinOurTeam-content-header{
    font-weight:bold;
    font-size: 60px;
    font-family:"commuterssans-bold";
    
    text-align: center;
}

.proJoinOurTeam-content-paragraph{
    font-size: 25px;
    text-align: center;
}