.button{
  display: flex;
  justify-content: center;
  transform: translateY(5px);
  cursor: pointer;
}

.btnText2{
  transform: translate(-10px,-2px);
  /* background: linear-gradient(to right, black 50%, transparent 50%); */
  color:linear-gradient(to right, black 50%, transparent 50%); 
}

.button:hover .btnText{
  transform: scale(0.92);
  transition: all .2s ease-out;
}
.button:hover .btnText2{
  background-position: left bottom;
}