.button{
  display: flex;
  justify-content: center;
  transform: translateY(5px);
}

.btnText2{
  transform: translatex(-10px);
  /* background: linear-gradient(to right, black 50%, transparent 50%); */
  color:linear-gradient(to right, black 50%, transparent 50%); 
}

.button:hover .btnText{
  transform: scale(0.9);
}
.button:hover .btnText2{
  background-position: left bottom;
}