.button{
  display: flex;
  justify-content: center;
  /* transform: translateY(5px); */
  cursor: pointer;
  gap: 3px;
}
.btnArrow-container{
      position: relative;
    width: 25px;
    height: 22px;
    /* background-color: red; */
    overflow: hidden;
}
.btnArrow-element{
  position: absolute;
  left:-25px;
  transition: all 0.2s;
  transform: translateY(-2px);
}
.btnText{
transition: transform 0.2s;
font-weight: normal;
}
.button:hover .btnText{
  transform: scale(0.9);
}
.button:hover .btnArrow-element{
  left: 0;
}