.container{
    position: relative;
    /* max-width: 400px; */
    width: 150px;
    height: 110px;
    border: 2px solid #f6f5f5;
    /* margin: 100px auto; */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;   
    cursor: pointer; 
    justify-content: center;

  }

  .container:after{
    position: absolute;
    width: 40px;
    height: 40px;
    border-top: 0px solid #f6f5f5;
    border-right: 2px solid #f6f5f5;
    border-bottom: 2px solid #f6f5f5;
    border-left: 0px solid #f6f5f5;
    top:105%;
    left: 50%;
    margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-top: -25px;
    background: #ffffff;
    
  }

  .titleDialogSelection{
    font-weight:bold;
          font-size: 16px;
          font-family:"commuterssans-bold";
  }
  
  .dialogInfoClass-selected-menu{
    box-shadow: 10px 10px 15px rgb(224, 224, 224);
  }
  
  .dialogSelection-dialog{
    height: 120px;
    position: absolute;
    z-index: 1;
    
  }
  .dialogselection-shadow{
    /* background-color: red; */
    width: 140px;
    height: 100px;
    position: absolute;
    background-color: transparent;
    box-shadow: 10px 8px 13px rgba(177, 177, 177, 0.658);
    z-index: 0;
  
}

.dialogSelection-content{
position: relative;
z-index: 2;
display: flex;
/* justify-content: center; */
align-items: center;
flex-direction: column;
transform: translate(15px,15px);
}

.dialogSelection-content-title{
  font-weight:bold;
          font-size: 16px;
          font-family:"Gilroy-Medium";
}
.dialogSelection-dialog-rect{
  position: absolute;
    z-index: 1;
    width: 150px;
    height: 100px;
}