body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Gilroy-Medium UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 35px;
  border: 0.5px solid #6d6d6d;
}

::-webkit-scrollbar-thumb {
  background: transparent linear-gradient(180deg, #242d65 0%, #cf2032 100%) 0%
    0% no-repeat padding-box;
  border-radius: 35px;
}

::-webkit-scrollbar-thumb:hover {
  /* background: #797979; */
}
